@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #171717;
  --accent-green: #E4FB69;
  --accent-orange: #F74600;
  --orange-highlight: #EF4A00;
  --border-gray: #E2E2E2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-green: var(--accent-green);
  --color-accent-orange: var(--accent-orange);
  --color-orange-highlight: var(--orange-highlight);
  --color-border-gray: var(--border-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hand: var(--font-gochi-hand);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
