@import "tailwindcss";

@theme {
  --font-sans: "Google Sans Flex", system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
